body{
    background-color: rgb(5, 201, 184);
}
.heading-div{
    border: 3px double black;
    text-align: center;
    margin: 25px 100px;
}
form{
    text-align: center;
}
.dob{
    width: 30px;

}
.y{
width: 50px !important;
}
